@model WebNauAn.Models.Congthuc
@{
    ViewData["Title"] = "ChiTietCongThuc";
    Layout = "~/Views/Shared/_LayoutChiTietCongThuc.cshtml";
}

<div class="uk-width-1-2@s">
    <div>
        <img class="uk-border-rounded-large" src="@Url.Content("../Images_NAUAN/"+Model.AnhChiTiet)"
             alt="Image alt">
    </div>
</div>
<div class="uk-width-expand@s uk-flex uk-flex-middle">
    <div>
        <h1>@Model.TenCongThuc</h1>
        <p>
            @Model.MoTa
        </p>
        <div class="uk-margin-medium-top uk-child-width-expand uk-text-center uk-grid-divider" data-uk-grid>
            <div>
                <span data-uk-icon="icon: clock; ratio: 1.4"></span>
                <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Thời Gian Chuẩn Bị</h5>
                <span class="uk-text-small">@Model.ThoiGianChuanBi phút</span>
            </div>
            <div>
                <span data-uk-icon="icon: future; ratio: 1.4"></span>
                <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Tổng Thời Gian Nấu</h5>
                <span class="uk-text-small">@Model.TongThoiGianNau phút</span>
            </div>
            <div>
                <span data-uk-icon="icon: users; ratio: 1.4"></span>
                <h5 class="uk-text-500 uk-margin-small-top uk-margin-remove-bottom">Số Người Phục Vụ</h5>
                <span class="uk-text-small">@Model.PhucVu người</span>
            </div>
        </div>
        <hr>
        <div data-uk-grid>
            <div class="uk-width-auto@s uk-text-small">
                <p class="uk-margin-small-top uk-margin-remove-bottom">Created by <a href="#">@Model.TacGia</a></p>
                <span class="uk-text-muted">21 recipes</span>
            </div>
            <div class="uk-width-expand@s uk-flex uk-flex-middle uk-flex-right@s">
                <a href="#" class="uk-icon-link" data-uk-icon="icon: plus-circle; ratio: 1.2"
                   data-uk-tooltip="title: Save Recipe"></a>
                <a href="#" class="uk-icon-link uk-margin-left" data-uk-icon="icon: cart; ratio: 1.2"
                   data-uk-tooltip="title: Shopping List"></a>
                <a href="#" class="uk-icon-link uk-margin-left" data-uk-icon="icon: print; ratio: 1.2"
                   data-uk-tooltip="title: Print Recipe"></a>
            </div>
        </div>
    </div>
</div>


