@model IEnumerable<WebNauAn.Models.Nguyenlieu>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucNguyenLieu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>DanhMucNguyenLieu</h1>

<p>
    <a asp-action="ThemNguyenLieuMoi">Create New</a>
</p>
<table class="table" style="width:100%; white-space:nowrap;table-layout:fixed">
    <thead>
        <tr>
            <th>
                TenNguyenLieu
            </th>
            <th>
               SoLuong
            </th>
            <th>
                DonVi
            </th>
            <th>
                MaLoaiNguyenLieu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguyenLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiNguyenLieu)
            </td>
            <td>
                <a asp-action="SuaNguyenLieu" asp-route-manguyenlieu="@item.MaNguyenLieu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNguyenLieu">Details</a> |
                <a asp-action="XoaNguyenLieu" asp-route-manguyenlieu="@item.MaNguyenLieu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
